<style>
  body {
    max-width: 600px;
    margin: 50px auto;
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }

  * {
    line-height: 1.4;
  }
</style>

<h1> >>> Picto Chan MINI <<< </h1>

<h2>About</h2>

<p>This is a utility to browse 4chan/4channel threads. It's used by replacing the "boards.4channel.org" part of a thread's URL with "chan.evanjon.es" after replacing you'll be brought to a "slideshow" type display of the media within the thread.</p>

<h2>Keybinds</h2>

<ul>
  <li>H - back</li>
  <li>L - next</li>
  <li>J - volume down (webm)</li>
  <li>K - volume up (webm)</li>
  <li>SPACE - toggle playback (webm)</li>
</ul>
